Source: applauncherd
Section: admin
Priority: important
Maintainer: Jussi Lind <jussi.lind@nokia.com>
Build-Depends: cmake (>= 2.6.0), debhelper (>= 7), libqt4-dev (>= 4.5.0), libmeegotouch-dev, libcreds2-dev [arm armel], aegis-builder (>= 1.4) [arm armel]
Standards-Version: 3.8.0

Package: applauncherd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, applauncherd-invoker, applauncherd-launcher
Description: Meta package for applaucherd and invoker
 Launcher daemon and invoker to speed up launches. 
 Special boosters for MeeGo Touch and Qt.

Package: applauncherd-invoker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcreds2 [arm armel]
Description: Invoker part of applaucherd
 Launcher daemon and invoker to speed up launches. 
 Special boosters for MeeGo Touch and Qt.

Package: applauncherd-launcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcreds2 [arm armel]
Description: Launcher part of applaucherd
 Launcher daemon and invoker to speed up launches. 
 Special boosters for MeeGo Touch and Qt.
 
Package: applauncherd-tests
Section: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmeegotouchcore0, libmeegotouchviews0, libmeegotouchextensions0, libmeegotouchsettings0, testrunner, applauncherd, ci-testing, libcreds[arm armel]
XB-Maemo-CI-Packages: applauncherd
XB-Maemo-CI-Stage: fast, staging, acceptance, validation
Description: applauncherd unit tests
 Unit testing binaries and shellscripts for testing applauncherd. 

Package: applauncherd-functional-tests
Section: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmeegotouchcore0, libmeegotouchviews0, libmeegotouchextensions0, libmeegotouchsettings0, testrunner, applauncherd, ci-testing, matti, libcreds2 [arm armel], libcreds2-tools [arm armel]
XB-Maemo-CI-Packages: applauncherd
XB-Maemo-CI-Stage: fast, staging, acceptance, validation
Description: applauncherd functional tests
 Functional testing binaries and shellscripts for testing applauncherd.

Package: applauncherd-performance-tests
Section: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmeegotouchcore0, libmeegotouchviews0, libmeegotouchextensions0, libmeegotouchsettings0, testrunner, applauncherd, ci-testing
XB-Maemo-CI-Packages: applauncherd
XB-Maemo-CI-Stage: fast, acceptance, validation
Description: applauncherd performance tests
 Performance testing binaries and shellscripts for testing applauncherd. 

Package: applauncherd-doc
Section: doc
Architecture: all
Description: Instructions for application developers

